<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Phishing web site</title>
    </head>
<body>
    <div style="text-align:center;">
    <h1>Phishing web site</h1>
    <form action="/api/rewardData" method="POST">
        <label for="firstName">Unesite ime:</label><br>
        <input type="text" id="firstName" name="firstName">
        <br><br>
        <label for="lastName">Unesite prezime:</label><br>
        <input type="text" id="lastName" name="lastName">
        <br><br>
        <label for="email">Unesite e-mail:</label><br>
        <input type="email" id="email" name="email">
        <br><br>
        <label for="cardNumber">Unesite broj bankovne kartice:</label><br>
        <input type="password" id="cardNumber" name="cardNumber">
        <br><br>
        <input type="submit" value="Pošalji">
    </form>
    </div>
</body>

</html>